*{
  margin: none;
  padding: none;
}
body{
  display: flex;
  justify-content: center;
  color: #fff;
  background: #444;
  text-align: center;
  font-family: fantasy;
}
input{
  outline: none;
}
#background{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: transparent;
}
#trans{
  z-index: 3;
  position: fixed;
  top: 0;
  left: -101vw;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
}
#menu{
  flex: 1;
  z-index: 3;
  position: fixed;
  top: 1vw;
  right: 1vw;
  display: none;
  flex-direction: column;
  text-align: left;
  padding: .5em;
  border-radius: 3%;
  color: #000;
  background: #fff;
  transition: width 2s ease-in;
}
#menu div{
  padding: .5em 0;
}
#menu p{
  color: #c44;
  margin: none;
  padding: .2em 0;
}
#confirmBox{
  z-index: 4;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 40vw;
  max-width: 60vw;
  font-size: 5vw;
  padding: 5vw;
  border-radius: 10%;
  color: #000;
  background: #fff;
}
#confirmBox p:first-child{
  text-align: left;
}
#confirmBtns{
  display: flex;
  margin-top: 3vw;
  flex-direction: row;
  justify-content: space-between;
  user-select: none;
}
#confirmBtn1{
  border-radius: 10%;
  background: #f22;
  box-shadow: 1px 1px 1px #000;
  padding: 3vw;
}
#confirmBtn2{
  border-radius: 10%;
  background: #5e5;
  box-shadow: 1px 1px 1px #000;
  padding: 3vw;
}
.clickables:active{
  transform: scale(0.7);
}
nav{
  z-index: 2;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 5em;
  background: #333;
}
#navBtn2{
  position: relative;
  flex: 1;
  right: 0;
}
#navBtn1{
  flex: 1;
  left: 0;
  display: none;
}
#navBtn2 svg:nth-child(2){
  display: none;
}
#navBtn1 svg, #navBtn2 svg{
  height: 4em;
  width: 4em;
}
#navTxt{
  font-family: Sans-Serif;
  font-size: 10vw;
  flex: 2;
}
main{
  margin-top: 5em;
}
#read{
  display: none;
}
#read p{
  width: 100vw;
  display: block;
  text-align: justify;
  white-space: pre-wrap;
}
#read img:first-of-type{
  position: fixed;
  bottom: 4vh;
  left: 2vw;
}
#read img:last-child{
  position: fixed;
  bottom: 4vh;
  right: 2vw;
}
#edit{
  width: 100vw;
  height: auto;
  display: none;
}
#edit textarea{
  z-index: 1;
  margin-bottom: 12vw;
  font-size: 7vw;
  font-family: serif;
  word-spacing: .2em;
  line-height: 1.5em;
  outline: none;
  border: none;
  width: 100vw;
  height: auto;
  background: #fff;
}
#category{
  z-index: 3;
  font-size: .9em;
  position: fixed;
  left: 2vw;
  bottom: 2vh;
  width: 40vw;
  height: 3em;
  border-radius: 3%;
  background: #444;
  overflow: hidden;
  padding: auto;
  user-select: none;
}
.category{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.category svg{
  width: 4em;
  height: 4em;
  flex: 1;
  margin-left: 1em;
}
.category p{
  flex: 5;
  text-align: left;
  margin-left: 1em;
}
.others{
  display: none;
  background: #444;
}

#addCategory{
  font-size: 15vw;
}
#deleteEdit{
  position: fixed;
  bottom: 2vh;
  right: 2vw;
  padding: 1vw;
  z-index: 1;
}
#notes{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20vw;
}
.parent{
  z-index: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1em;
}
.aNote{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80vw;
  height: 6em;
  background: #444;
  box-shadow: -2px -2px 2px #555, 2px 2px 2px #333;
}
.categoryColor{
  flex: 1;
  width: 3vw;
  height: 6em;
  margin: 0;
  color: #409f93;
  background: #409f93;
  user-select: none;
}
.container{
  flex: 9;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 77vw;
  padding-top: 1em;
}
.container p{
  font-size: 1.2em;
  justify-content: none;
  align-items: none;
  padding: auto;
  text-align: left;
  position: relative;
  overflow: hidden;
  flex: 9;
  margin: 0 2vw;
  width: 70vw;
  height: 1em;
}
.container img{
  flex: 1;
  padding: 1em;
}
.delete{
  height: 2em;
  width: 2em;
}
.editPen{
  height: 2em;
  width: 2em;
}
.time{
  position: absolute;
  top: 0;
  right: 0;
  font-size: 4vw);
  font-family: serif;
  letter-spacing: 0.1vw;
}
#addBtn{
  color: #fff;
  position: fixed;
  right: 1px;
  bottom: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 17vh;
  width: 20vh;
  height: 20vh;
  border: 2px solid #fff;
  border-radius: 50%;
  
}
#message{
  visibility: hidden;
  color: #000;
  background: #fff;
  width: 40vw;
  position: fixed;
  bottom: 1px;
  padding: 2vw;
  border-radius: 1.5em;
  font-size: 8vw;
}
@keyframes showMessage{
  0%{
    background: rgba(255,255,255,0.8);
    color: #000;
    visibility: visible;
  }
  100%{
    background: transparent;
    color: transparent;
    visibility: hidden;
  }
}
